.home{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.card-image{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:200px;
    /* height: 400px; */
}

.card{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    color: black;
}